*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}
.container{
    width: 80%;
    display: block;
}
.clear{
    clear: both;
    display: block;
}
header{
    padding: 20px 0;
}

header h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

nav{
    background-color: red;
}
.menu{
    padding: 15px 0;
}
.menu a{
    color: white;
    font-family: 'Times New Roman', Times, serif;';
    font-size: 15px;
    text-decoration: none;
    padding: 0 20px;
}
.menu a:first-child{
    padding-left: 0;
}
.menu a:hover{
    color: yellow;
    text-decoration: underline;
}
#banner{
    position: relative;
}
#banner img{
    width: 100%;
    height: 650px;
}
.info{
    position: absolute;
    top: 25%;
    
    right: 0;
    transform: translate(-50%, -50%);
    background-color:black;
    opacity: 0.52;
    color: whitesmoke;
    text-align: center;
    padding: 30px 100px;
}
.info h2{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.info p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-decoration: underline;
}
#feature{
    padding: 30px 0;
    text-align: center;
}
#feature h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    text-align: center;
    border-bottom: 2px solid steelblue;
    display: inline-block;
    color:steelblue;
}

.boxes{
    padding-top: 30px;
    display: flex;
}
.box{
    width: 30%;
    position: relative;
}
.box img{
    width: 100%;
    height: 400px;
}
.box h4{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    padding: 20px 0;
    opacity: 0.8;

}
.box h4 a{
    text-align: left;
    color: red;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
.box h4 a:hover{
    text-decoration: underline;
}
